body {
  background-image: url('https://wallpapers.com/images/hd/candy-crush-saga-background-a8jkcqn32lawvzeo.jpg');
}


#board {
  width: 500px;
  height: 500px;
  background-color: lightblue;
  boarder: 5px solid slategray;
  border-radius: 10px;
  margin: auto;
}

#board img{
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;
}